body {
    background-color: violet;
    color: rgb(38, 0, 128);
    
}

h1 {

    color: #4169e1;

}

.job-title {

    background-color: tomato;
    color: royalblue;


}

.high {

    color: violet;

}

ul {

    background-color: teal;
    color: salmon;
    


}