hover {
    font-style: italic;
    color: red;
}

body {
    color: rgb(0, 4, 255);
    font-family: 'Georgia', 'Times', 'serif';
    font-size: 15px;
}


:focus {
    transform: scale(1,2);
}

span{
    color: rgb(250, 1, 1);    
}

ol li:nth-child(2n){
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(212, 0, 71);
}


input:disabled {
    background-color: rgb(253, 123, 1);
} 

input:enabled {
    background-color: coral 
}