h1 {

color: aqua;

}

.titulo-principal {

    color: pink;
    font-size: 100px;

}

#titulo {

    color: lime;
    font-size: 70px;

}

/* teste de comentario */


.card a {

font-size: 50px;


}