@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(59, 56, 56);
    font-style: oblique;
}

h1 {
    color: crimson;
    text-align: center;
}

h2, p {
    color: goldenrod;
    font-family: 'Roboto', sans-serif;
}

div {
    display: inline-table;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
  
}

img {
    width: 250px;
    height: 250px; 
}

.filmes {
    width: 25%;
    height: 100px;
    transition-duration: 1s;
}

.filmes:hover {
    transform: scale(1.2);
}
