.box {

    width: 250px;
    height: 250px;


}


.first-box {

    background-color: brown;
    position: relative;
    top: 100px;
    left: 100px;
    z-index: 2;
}

.second-box {

    background-color: darkblue;
    position: absolute;
}